a,
h1,
h2,
h3,
h4,
h5,
body,
html,
div,
textarea,
input,
hr {
    font-family: Calibri, Arial, Sans Serif;
    line-height: 1.3em;
    
    background-color: #FFFFFF;
    color: #5C3200;
}
a:link {
    color: #3355EE;
}
a:visited {
    color: #3355EE;
}
h3,
h4 {
    margin: 0.2em 0 0.3em 0;
}
h5.kaldiStyle {
    margin: 0.1em 0 0.2em 0;
}

h4.tutorialStyle {
    margin: 1em 0 0.2em 0;
}
h5.tutorialStyle {
    margin: 0.3em 0 0.3em 0;
}
pre.tutorialStyle {
    margin: 0.2em 0.0em 0.2em 2.5em;
    white-space: pre-line;
}

h2.kaldiStyle {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
h3.kaldiStyle {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
*.content {
    font-style: italic;
}
*.boxed {
    margin: 0.1em 1.2em 0.2em 1.5em
}
#headerBar {
    height: 60px;
    width: auto;
    position: relative;
}
#headerLeft {
    position: absolute;
    z-index: 1;
    margin: 0 0 0 0;
    left: 0px;
}
#headerRight {
    position: absolute;
    top: 3px;
    right: 20px;
    bottom: 1px;
    float: right;
    white-space: nowrap;
}
#logoImage,
#smallLogoImage {
    height: 60px;
    margin: 0px 0 0 10px
}
.currentPage {
    color: red;
}
#centeredContainer {
    margin: 0 auto;
    font-size: 1.05em;
    padding-top: 1em;
}
#mainContent {
    padding-right: 250px;
    padding-left: 10px;
    
    padding-top: 0.5em;
    min-width: 400px;
    max-width: 600px;

    padding-bottom: 3em;
}
#modelList {
    padding-right: 250px;
    padding-left: 10px;

    padding-top: 0.5em;
    min-width: 400px;
    max-width: 1000px;

    padding-bottom: 3em;
}
#rightCol {
    float: right;
    width: 230px;
    padding-top: 1em;
}
a:hover {
    color: blue;
}
a {
    text-decoration: none;
}
hr {
    width: 99%;
    height: 1px;
    color: #5C3200;
    background-color: #5C3200;
}
#topBar {
    padding-left: 20px;
    white-space: nowrap;
    height: 1.2em;
}
#resourceTable {
    margin: 5px;
    padding: 9px 9px 9px 9px;
    table-layout: fixed;
}
th {
    text-align: left;
    padding: 0px 5px 0px 5px;
}
td {
    text-align: left;
    padding: 0px 5px 0px 5px;
}
a.myTopButton {
    color: #5C3200;
}
.myTopButton {
    padding: 0px 6px 0px 6px;
}
.topButtons {
    padding: 0px 6px 0px 6px;
}
.contact_info {
    font-family: Calibri, Arial, Sans Serif;
    line-height: 1.3em;
}
.contactTitle {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    
    font-size: 18px;
    
    border-bottom: 1px solid #5C3200;
    padding: 0px 0px 4px 0px;
    margin: 15px 5px 10px 0px;
}
h2.resource {
    margin: 5px 2px 5px 8px;
}
p.resource {
    margin: 2px 2px 2px 15px;
}
#about {
    padding: 0px 0px 0px 20px;
}
#footer {
    float: right;
}

.model-intro {
    margin-bottom: 1em;
}
.model {
	overflow: auto;
}
.model .note {
    opacity: 0.58;
    font-size: 0.7em;
}
.model dl {
    min-width: 330px;
    float: left;
    margin: 0;
}
.model dl a {
    color: inherit;
    text-decoration: underline;
}
.model dt {
    clear: left;
    float: left;
    width: 100px;
    font-size: 11px;
    text-transform: uppercase;
}
.model dd {
    float: left;
    width: 200px;
    margin: 0 0 0 30px;
}
.model dt,
.model dd {
    margin-bottom: 0.2em;
}
.model > p {
	margin-bottom: 2em;
}


.dl-bar {
	width: 150px;
	margin: 0 20px;
	float: left;
    padding-left: 30px;
    background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20433.5%20433.5%22%3E%3Cpath%20d%3D%22M395.25%20153h-102V0h-153v153h-102l178.5%20178.5L395.25%20153zm-357%20229.5v51h357v-51h-357z%22%20fill%3D%22%235c3200%22%2F%3E%3C%2Fsvg%3E') 0 5px / 30px 30px no-repeat;
}
.dl-bar > a {
	display: inline-block;
	margin-bottom: 1em;
}
.dl-bar > a img {
	height: 30px;
}
.dl-link {
	display: inline-block;
	margin-left: 8px;
	max-width: 80px;
}
.dl-link > aside {
	font-size: 0.7em;
	text-align: right;
	opacity: 0.53;
	display: block;
	line-height: 1em;
}
